streamlit
pandas
numpy
matplotlib
seaborn
requests

# NLP / Transformers
transformers
torch
huggingface-hub
tokenizers

# Utilidades
emoji
regex
langdetect

# YouTube API
google-api-python-client

# Sentiment Analysis
vaderSentiment
sentencepiece
